{{#each days as |day index|}}
  {{conference-day
    day=day
    index=index
    now=now
  }}
{{/each}}

<div class="github">
  <p>Forked from the EmberConf and EmberFest schedule sites built by <a class="link" href="https://www.201-created.com/">201 Created</a></p>
  <a href="https://github.com/DingoEatingFuzz/cascadiajs-schedule-2018" target="_blank" rel="noopener" aria-label="GitHub">
    {{icon-github}}
    <strong>Curious what's going on here?</strong>
    Check out the code on GitHub!
  </a>
</div>
